*.err
*.cmp
*.o
*.a
*.so
*.pyc
*.pyo
*.save
*.out
*.csv
*.old
*.tar
*.gz
*.xz
*.exe
*.txt
*.data
*.pdf
*.log
*.csv*
run_dir/
results
__pycache__
*.swp
analysis/mosmodel/*/module.mk
analysis/mosmodel/*/layout_generators.mk
analysis/mosmodel/*/train/module.mk
analysis/mosmodel/*/test/module.mk
.smt-criu-test-checkpoints/

/experiments/single_page_size/layout2mb/
/experiments/single_page_size/layout4kb/
/experiments/criu_single_page_size/
/experiments/smt_corunner_memory_footprint/
/experiments/smt_corunner_single_page_size/